<section class="our-colection">
  <div class="our-colection-box container">
    <h2 class="section-title">Our collection</h2>
    <ul class="our-colection-list">
      <li class="our-colection-card-item">
        <div class="our-colection-card">
          <img
            class="our-colection-card-img"
            srcset="
              ./img/desktop-1440/desktop1440-ourcollection1@2x.jpg 400w,
              ./img/desktop-1280/desktop-ourcollection1@2x.jpg     694w,
              ./img/tablet/tablet-ourcollection1@2x.jpg            684w,
              ./img/mobile/mobile-ourcollection1@2x.jpg            670w,
              ./img/desktop-1440/desktop1440-ourcollection1.jpg    400w,
              ./img/desktop-1280/desktop-ourcollection1.jpg        347w,
              ./img/tablet/tablet-ourcollection1.jpg               342w,
              ./img/mobile/mobile-ourcollection1.jpg               335w
            "
            sizes="
                  (min-width: 1440px) 400px,
                  (min-width: 1158px) 347px, 
                  (min-width: 768px) 342px, 
                  (max-width: 767px) 335px"
            src="/img/desktop-1280/desktop-ourcollection1.jpg"
            alt="Poltava women's blouse"
          />
        </div>
        <div class="our-colection-information">
          <h3 class="our-colection-clothes-name">
            AUGUST Poltava women's blouseRING
          </h3>
          <p class="our-colection-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-colection-card-item">
        <div>
          <img
            srcset="
              ./img/desktop-1440/desktop1440-ourcollection2@2x.jpg 400w,
              ./img/desktop-1280/desktop-ourcollection2@2x.jpg     694w,
              ./img/tablet/tablet-ourcollection2@2x.jpg            684w,
              ./img/mobile/mobile-ourcollection2@2x.jpg            670w,
              ./img/desktop-1440/desktop1440-ourcollection2.jpg    400w,
              ./img/desktop-1280/desktop-ourcollection2.jpg        347w,
              ./img/tablet/tablet-ourcollection2.jpg               342w,
              ./img/mobile/mobile-ourcollection2.jpg               335w
            "
            sizes="
                  (min-width: 1440px) 400px,
                  (min-width: 1158px) 347px, 
                  (min-width: 768px) 342px,
                  (max-width: 767px) 335px"
            src="../img/desktop-1280/desktop-ourcollection2.jpg "
            alt="Women's blouse Gorgany"
          />
        </div>
        <div class="our-colection-information">
          <h3 class="our-colection-clothes-name">Women's blouse Gorgany</h3>
          <p class="our-colection-price">3350 UAH</p>
        </div>
      </li>
      <li class="our-colection-card-item">
        <div>
          <img
            srcset="
              ./img/desktop-1440/desktop1440-ourcollection3@2x.jpg 400w,
              ./img/desktop-1280/desktop-ourcollection3@2x.jpg     694w,
              ./img/tablet/tablet-ourcollection3@2x.jpg            684w,
              ./img/mobile/mobile-ourcollection3@2x.jpg            670w,
              ./img/desktop-1440/desktop1440-ourcollection3.jpg    400w,
              ./img/desktop-1280/desktop-ourcollection3.jpg        347w,
              ./img/tablet/tablet-ourcollection3.jpg               342w,
              ./img/mobile/mobile-ourcollection3.jpg               335w
            "
            sizes="
                  (min-width: 1440px) 400px,
                  (min-width: 1158px) 347px, 
                  (min-width: 768px) 342px, 
                  (max-width: 767px) 335px"
            src="../img/desktop-1280/desktop-ourcollection3.jpg "
            alt="Women's blouse Crimea"
          />
        </div>
        <div class="our-colection-information">
          <h3 class="our-colection-clothes-name">Women's blouse Crimea</h3>
          <p class="our-colection-price">4000 UAH</p>
        </div>
      </li>
      <li class="our-colection-card-item">
        <div>
          <img
            srcset="
              ./img/desktop-1440/desktop1440-ourcollection4@2x.jpg 400w,
              ./img/desktop-1280/desktop-ourcollection4@2x.jpg     694w,
              ./img/tablet/tablet-ourcollection4@2x.jpg            684w,
              ./img/mobile/mobile-ourcollection4@2x.jpg            670w,
              ./img/desktop-1440/desktop1440-ourcollection4.jpg    400w,
              ./img/desktop-1280/desktop-ourcollection4.jpg        347w,
              ./img/tablet/tablet-ourcollection4.jpg               342w,
              ./img/mobile/mobile-ourcollection4.jpg               335w
            "
            sizes="
                  (min-width: 1440px) 400px,
                  (min-width: 1158px) 347px, 
                  (min-width: 768px) 342px, 
                  (max-width: 767px) 335px"
            src="../img/desktop-1280/desktop-ourcollection4.jpg "
            alt="Men's shirt Verkhovina"
          />
        </div>
        <div class="our-colection-information">
          <h3 class="our-colection-clothes-name">Men's shirt Verkhovina</h3>
          <p class="our-colection-price">3100 UAH</p>
        </div>
      </li>
      <li class="our-colection-card-item">
        <div>
          <img
            srcset="
              ./img/desktop-1440/desktop1440-ourcollection5@2x.jpg 400w,
              ./img/desktop-1280/desktop-ourcollection5@2x.jpg     694w,
              ./img/tablet/tablet-ourcollection5@2x.jpg            684w,
              ./img/mobile/mobile-ourcollection5@2x.jpg            670w,
              ./img/desktop-1440/desktop1440-ourcollection5.jpg    400w,
              ./img/desktop-1280/desktop-ourcollection5.jpg        347w,
              ./img/tablet/tablet-ourcollection5.jpg               342w,
              ./img/mobile/mobile-ourcollection5.jpg               335w
            "
            sizes="
                  (min-width: 1440px) 400px,
                  (min-width: 1158px) 347px, 
                  (min-width: 768px) 342px, 
                  (max-width: 767px) 335px"
            src="../img/desktop-1280/desktop-ourcollection5.jpg "
            alt="Mountain men's shirt"
          />
        </div>
        <div class="our-colection-information">
          <h3 class="our-colection-clothes-name">Mountain men's shirt</h3>
          <p class="our-colection-price">3300 UAH</p>
        </div>
      </li>
      <li class="our-colection-card-item">
        <div>
          <img
            srcset="
              ./img/desktop-1440/desktop1440-ourcollection6@2x.jpg 400w,
              ./img/desktop-1280/desktop-ourcollection6@2x.jpg     694w,
              ./img/tablet/tablet-ourcollection6@2x.jpg            684w,
              ./img/mobile/mobile-ourcollection6@2x.jpg            670w,
              ./img/desktop-1440/desktop1440-ourcollection6.jpg    400w,
              ./img/desktop-1280/desktop-ourcollection6.jpg        347w,
              ./img/tablet/tablet-ourcollection6.jpg               342w,
              ./img/mobile/mobile-ourcollection6.jpg               335w
            "
            sizes="
                  (min-width: 1440px) 400px,
                  (min-width: 1158px) 347px, 
                  (min-width: 768px) 342px, 
                  (max-width: 767px) 335px"
            src="../img/desktop-1280/desktop-ourcollection6.jpg "
            alt="Men's shirt Yasen"
          />
        </div>
        <div class="our-colection-information">
          <h3 class="our-colection-clothes-name">Men's shirt Yasen</h3>
          <p class="our-colection-price">1700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>
