<footer class="footer-section footer-info">
    <div class="div-footer container">

        <div class="footer">
            <div class="footer-column">
                <ul class="footer-list">
                    <li><a class="link link-section-li" href="#about-us">ABOUT US</a></li>
                    <li><a class="link link-section-li" href="#our-collection">OUR COLLECTION</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <ul class="footer-list">
                    <li><a class="link link-section-li" href="#customer-order">CUSTOMER ORDER</a></li>
                    <li><a class="link link-section-li" href="#testimonials">TESTIMONIALS</a></li>
                </ul>
            </div>
        </div>
        

        
            <p class="paragraph">A touch of <span class="paragraph-point">Ukrainian</span> culture in every
            embroidery</p>
        

        <div class="image"></div>
    </div>
</footer>