<footer>
    <div class="div-footer">
        <div>
            <ul class="link-section">
                <li><a class="link link-section-li" href="./index.html">ABOUT US</a></li>
                <li><a class="link link-section-li" href="">OUR COLLECTION</a></li>
                <li><a class="link link-section-li" href="">CUSTOMER ORDER</a></li>
                <li><a class="link link-section-li" href="">TESTIMONIALS</a></li>
            </ul>

            <p class="footer-paragraph">A touch of <span class="paragraph-point">Ukrainian</span> culture in every embroidery</p>
        </div>
    </div>
</footer>