<footer class="footer">
    <div class="footer__flex container">
        <div class="footer__content">
            <div class="footer__flex">
                <div class="footer-column">
                    <ul class="footer-list">
                        <li><a class="link link-section-li" href="#about-us">ABOUT US</a></li>
                        <li><a class="link link-section-li" href="#our-collection">OUR COLLECTION</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <ul class="footer-list">
                        <li><a class="link link-section-li" href="#customer-order">CUSTOMER ORDER</a></li>
                        <li><a class="link link-section-li" href="#testimonials">TESTIMONIALS</a></li>
                    </ul>
                </div>
            </div>


            <h2 class="footer__h2">
                A touch of <span class="footer__mark">Ukrainian</span> culture in every embroidery
            </h2>
        </div>
    </div>
    <div class="footer__img"></div>
</footer>