<section class="hero-section">
    <div class="container">
        <div class="hero-main">
            <div class="hero-photo" >
                <img class="hero-img" src="../img/desktop-1280/desktop-hero-girl.jpg" alt="Фото дівчини">
            </div>
            <div class="hero-goal">
                <h1 class="hero-title">Reviving the traditional <span class="accent-color">Ukrainian</span> artistry in every stitch.</h1>
                <button class="hero-btn"><a class="btn-text" href="./order.html">Order</a></button>
            </div>
        </div>
        <div>
            <img class="hero-sun" src="../img/hero/hero-sun.png" alt="Сонце">
            <p class="hero-text">all embroidery is made by hand</p>
        </div>
    </div>
    
</section>