<section class="hero-section">
    <div class="container hero-container">
        <div class="hero-main">
            <div class="hero-photo" >
                <img class="hero-img" src="../img/desktop-1280/desktop-hero-girl.jpg" alt="Фото дівчини">
            </div>
            <div class="hero-goal">
                <h1 class="hero-title">Reviving the traditional <span class="accent-color">Ukrainian</span> artistry in every stitch.</h1>
                <a class="hero-btn" href="#order">
                    <p class="btn-text" href="./order.html">Order</p>
                    <svg class="hero-arrow" width="26" height="10" >
                        <use href="../img/icons.svg#icon-arrow" ></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="hero-handmade">
            <div class="hero-hand-cont">
                <img class="hero-sun" src="../img/hero/hero-sun.png" alt="Сонце">
                <p class="hero-text">all embroidery is made by hand</p>
            </div>
            <div class="hero-elipse">
                <img src="../img/hero/hero-elips.png" alt="" width="142px">
            </div>
            
        </div>
    </div>
</section>