.hero-section {
    width: 1280px;
    display: flex;
    flex-direction: row;
    padding: 100px 0 75px 0;
    background-image: url(../img/hero/hero-elips.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.hero-main {
    display: flex;
    flex-direction: row;
}

.hero-photo {
    margin-right: 40px;
    min-width: 392px;
}

.hero-goal {
    width: 518px;
}


.hero-title {
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #FCF9F9;
}

.hero-btn {
    padding: 14px 40px;
    border-radius: 15px;
    border-color: rgba(252, 249, 249, 0.1);
    background-color: transparent;
    margin-top: 40px;
}

.btn-text {
    font-size: 16px;
    color: rgba(252, 249, 249, 0.4);

}

.hero-sun {
    margin-left: auto;
    margin-right: auto;

}

.hero-text {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.04em;
    color: rgba(252, 249, 249, 0.4);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}





